%p Welcome to this super basic Turnip Sales Queueing app, Turnip Turn Up.

- unless my_island_selling?(current_user)
  = link_to 'Open My Island', new_sale_path

%br
%br

%table{ border: '1' }
  %thead
    %tr
      %th Island Name
      %th Sale Price
      %th People in Queue
      %th View Sale
      %th Action
  %tbody
    - @sales.each do |sale|
      %tr
        %td= sale.island.name
        %td= sale.sale_price
        %td= sale.sales_users.count
        %td= link_to 'View', sale_path(sale)
        - if sale.sales_users.pluck(:user_id).include?(current_user.id)
          %td= link_to 'Leave', sale_next_path(sale), method: :post
        - else
          %td= link_to 'Join', sale_join_path(sale), method: :post
