%p#notice= notice

%h2 My Island

%p
  %strong Name:
  = @island.name

%p
  %strong Native Fruit:
  = @island.native_fruit

= link_to 'Open Island', new_sale_path

= link_to 'Edit', edit_island_path(@island)
\|
= link_to 'Back', islands_path
